/* Write your CSS code here */
.item-container {
  display: flex;
  padding: 20px;
  margin-bottom: 20px;
}

.blog-image {
  height: 150px;
  width: 200px;
  background-size: cover;
}

.blog-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.blog-topic {
  font-family: Roboto;
  font-size: 14px;
  color: #8e8e8e;
}

.blog-title {
  font-family: Roboto;
  font-size: 14px;
  color: #000000;
}

.img-author {
  height: 25px;
  width: 25px;
  border-radius: 15px;
}

.author-content {
  display: flex;
}
